.women-saloon-main-con {
    min-height: 12rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    /* Align items to the start */
    column-gap: 1rem;
    align-items: center;
    row-gap: 0.6rem;
    overflow-x: auto;
    /* Enable horizontal scrolling */
    overflow-y: hidden;
    /* Hide vertical overflow */
    scrollbar-width: none;
    /* For Firefox */
    scroll-snap-type: x mandatory;
    /* Enable scroll snapping */
    -ms-overflow-style: none;
    /* Hide scrollbar for Internet Explorer and Edge */
    padding: 1rem 0;
    /* Optional: Add padding for better spacing */
    /* border: 1px solid black; */
}

.women-saloon-main-con::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for Chrome, Safari, and Opera */
}

.w-s-sub-con {
    border: none;
    width: 12rem;
    /* Fixed width for items */
    height: 16rem;
    flex-shrink: 0;
    /* Prevent items from shrinking */
    display: grid;
    grid-template-rows: 21% 80%;
    border: 1.5px solid #D9D9D9;
    border-radius: 10px;
    align-items: center;

}

.w-s-sub-con {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth animation for scaling and shadow */
}

.w-s-sub-con:hover {
    cursor: pointer;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    /* Subtle shadow effect */
    /* transform: scale(1.05); */
    /* Slightly scales up the element */
}


.w-s-sub-con img {
    width: 100%;
    height: 100%;
    border: none;
}



.w-s-headding {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 500;
    line-height: 70.4px;
    text-align: center;
    margin: 10px;

}

.w-s-sub-con p {
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.03em;


}


@media (min-width: 360px) and (max-width: 600px) {
    .women-saloon-main-con {
        /* border: 1px solid black; */
        min-height: 10rem;
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        row-gap: 1rem;
        overflow-x: auto;
        overflow-y: hidden;
        max-width: 100%;
        padding: 0rem 1rem;

    }

    .w-s-headding {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 400;
        line-height: 70.4px;
        text-align: center;
        margin: 0px;

    }
}

@media (min-width: 820px) and (max-width: 1020px) {
    .women-saloon-main-con {
        /* border: 1px solid black; */
        min-height: 10rem;
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        row-gap: 1rem;
        overflow-x: auto;
        overflow-y: hidden;
        max-width: 100%;
        padding: 0rem;

    }

    .w-s-headding {
        font-family: Poppins;
        font-size: 40px;
        font-weight: 400;
        line-height: 59.4px;
        text-align: left;
        margin: 10px;

    }
}