:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  /* border: 1px solid black; */
  color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* @media max-width:1500px{
  
} */
 .loading-gif{
  /* border: 1px solid black; */
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

 }
 .loading-gif img{
  width: 5rem;
  height: 3rem;
 }
 body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
}